*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2%;    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 5rem auto; */
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.sedans{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:  hsl(31, 77%, 52%);
    background-color:  hsl(31, 77%, 52%);
    width: 20%;
    gap: 1.5rem;
    padding-left: 4%;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.logo-sedans{
    margin-top: 20%;
    /* width: 100%; */
}
.logo-sedans img{
    width: 100%;
}
.sedans h1{
    color: white;
    font-size: 2rem;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 700;
}
.sedans p{
    width: 85%;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color:  hsla(0, 0%, 100%, 0.75);
}
.sedans button{
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem 2rem;
    border: solid 2px transparent;
    border-radius: 25px;
    color: hsl(31, 77%, 52%);
    margin: 20% 0;
}
.sedans button:hover{
    background-color: hsl(31, 77%, 52%);
    border: solid 2px white;
    color: white;
}
.suvs{
    display: flex;
    flex-direction: column;
    border: hsl(184, 100%, 22%);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 4%;
    width: 20%;
    background-color: hsl(184, 100%, 22%);
}
.logo-suvs{
    margin-top: 20%;
}
.suvs h1{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Big Shoulders Text', cursive;
}
.suvs p{
    color: hsla(0, 0%, 100%, 0.75);
    width: 85%;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}
.suvs button{
    background-color: white;
    color: hsl(184, 100%, 22%);
    border: solid 2px transparent       ;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 25px;
    margin: 20% 0;
}
.suvs button:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: solid 2px white;
}
.luxury{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: hsl(179, 100%, 13%);
    background-color:  hsl(179, 100%, 13%);
    padding-left: 4%;
    width: 20%;
    gap: 1.5rem;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.logo-luxury{
    margin-top: 20%;
}
.luxury h1{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Big Shoulders Text', cursive;
}
.luxury p{
    width: 85%;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
.luxury button{
    padding: 1rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    border: solid 2px transparent;
    margin: 20% 0;
    color:  hsl(179, 100%, 13%);
    background-color: white;
}
.luxury button:hover{
    background-color:  hsl(179, 100%, 13%);
    color: white;
    border: solid 2px white;
}
@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
     .sedans,.suvs,.luxury{
        width: 60%;
    }
    .sedans{
        border-bottom-left-radius: 0;
        border-top-right-radius: 7px;
        margin-top: 5%;
    }
    .luxury{
        border-top-right-radius: 0;
        border-bottom-left-radius: 7px;
        margin-bottom: 5%;
    }
    button{
        width: 60%;
    }
    p{
        width: 60%;
        color: white;
    }
}
